[Unit]
Description=TorrentMonitor Go
Documentation=https://github.com/lifespirit/TorrentMonitor-go
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

User=torrentmonitor
Group=torrentmonitor

Environment=HOME=/var/lib/torrentmonitor
WorkingDirectory=/var/lib/torrentmonitor

ExecStart=/usr/bin/torrentmonitor-go

Restart=on-failure
RestartSec=5s

TimeoutStopSec=30s
KillSignal=SIGTERM

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes

ReadWritePaths=/var/lib/torrentmonitor

[Install]
WantedBy=multi-user.target
